<!DOCTYPE html>
<html>
<head>
    <title>Tentang Saya</title>
    <link rel="icon" href="/img/cuaca.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" 

    <script src="/js/app.js"></script>
</head>

<body>
<div class="main-content">
        {{>header}}
<section class="resume">
  <div class="resume_top">
    <div class="rtop_left">
      <p class="name">Natasya febriani</p>
      <p class="role">Web Designer</p>
    </div>
    <div class="rtop_right">
      <p>febrianinatasya0@gmail.com</p>
      <p>+628 3245 7896</p>
    </div>
    <div class="r_profile_pic">
      <img src="img\Natasya febriani-21343010.png" alt="profile_pic">
    </div>
  </div>
  <div class="resume_center">
    <h2>About ME</h2>
    <p>Halo, nama saya Natasya febriani. Saya seorang mahasiswa yang sedang menempuh pendidikan di Universitas Negeri Padang, tepatnya di Program Studi Informatika dan sudah menempuh semester lima . Saya memiliki minat yang mendalam dalam teknologi dan ilmu komputer, serta antusiasme yang besar untuk mempelajari berbagai konsep baru dalam bidang ini. Di luar studi, saya senang mengikuti perkembangan terkini di dunia teknologi, serta aktif dalam berbagai kegiatan ekstrakurikuler yang memperluas wawasan dan keterampilan saya.</p>
  </div>
  <div class="resume_bottom">
    <div class="rbottom_left">
      <div class="rb_skills">
        <h2>Skilss</h2>
        <ul>
          <li>
            <p><i class="fa-solid fa-code"></i></p>
            <p>Web Development</p>
          </li>
          <li>
            <p><i class="fa-solid fa-pen-nib"></i></p>
            <p>Web Designing</p>
          </li>
          <li>
            <p><i class="fa-solid fa-video"></i></p>
            <p>Video Editing</p>
          </li>
          <li>
            <p><i class="fa-solid fa-headphones"></i></p>
            <p>Sound Mixing</p>
          </li>
          <li>
            <p><i class="fa-solid fa-image"></i></p>
            <p>Photoshop Editing</p>
          </li>
        </ul>
      </div>
      <div class="rb_hobbies">
        <h2>Hobbies</h2>
        <ul>
          <li>
            <p><i class="fa-solid fa-football"></i></p>
            <p>Travelling</p>
          </li>
          <li>
            <p><i class="fa-solid fa-plant-wilt"></i></p>
            <p>Planting</p>
          </li>
          <li>
            <p><i class="fa-solid fa-book"></i></p>
            <p>Reading</p>
          </li>
          <li>
            <p><i class="fa-solid fa-bicycle"></i></p>
            <p>Driving</p>
          </li>
          <li>
            <p><i class="fa-solid fa-chess"></i></p>
            <p>Playing Chess</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="rbottom_right">
      <div class="r_education">
        <h2>Education</h2>
        <ul>
          <li>
            <div class="r_ed_left">
              <p>2009-2015</p>
            </div>
            <div class="r_ed_right">
              <p>SD Negeri 26 Nanggalo Tarusan</p>
            </div>
          </li>
          <li>
            <div class="r_ed_left">
              <p>2015-2017</p>
            </div>
            <div class="r_ed_right">
              <p>SMP Negeri 1 Koto XI Tarusan</p>
            </div>
          </li>
          <li>
            <div class="r_ed_left">
              <p>2018-2020</p>
            </div>
            <div class="r_ed_right">
              <p>SMA Negeri 1 Koto XI Tarusan</p>
            </div>
          </li>
          <li>
             <div class="r_ed_left">
              <p>2021-2024</p>
            </div>
            <div class="r_ed_right">
              <p>Universitas Negeri Padang</p>
            </div>
          </li>

        </ul>
      </div>
      <div class="r_jobs">
        <h2>Work Experience</h2>
        <ul>
          <li>
            <div class="r_ed_left">
              <p>2015-2017</p>
            </div>
            <div class="r_ed_right">
              <p>Kepala Bidang Multimedia Dalam Organisasi UK Infitech UNP</p>
            </div>
          </li>
          <li>
            <div class="r_ed_left">
              <p>2017-2019</p>
            </div>
            <div class="r_ed_right">
              <p>Anggota Humed dalam kepengurusan Organisasi Formis</p>
            </div>
          </li>
          <li>
            <div class="r_ed_left">
              <p>2019-2022</p>
            </div>
            <div class="r_ed_right">
              <p>Pernah Mengikuti Sertifikasi Mikrotik</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

</body>
</html>